#board {
    .block-basic-code {
        max-height: 400px;


        .block-basic-code-parameters {
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
        }

        .grid-container {
            display: flex;
            flex-direction: row;

            .block-basic-code-inputs,
            .block-basic-code-outputs {
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;

                .code-output-ports {
                    margin-right: -10px;
                }
            }

            .block-basic-code-textarea-container {
                flex: 1;
                margin: 5px;
                overflow-y: auto;

                .block-basic-code-textarea {
                    
                    border-radius: 5px;
                    
                }

            }

            
        }
    }
}

.theme-dark {
    #board {
        .block-basic-code {
            background-color: whitesmoke;
        }
    }
}